.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.card>img{
    width: 100px;
    height: 50px;
    background-size: cover;
    filter: saturate(500%);
}